.OtherDataBody{
    border-left: 3px solid rgba(71, 67, 67, 0.345);
    width: 35%;
    /* height: auto; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    

}




@media (max-width:650px) {
    .OtherDataBody {
        width: 100%;
    border-top: 3px solid rgba(71, 67, 67, 0.345);
        border-left: 0;
        padding: 2rem 0;
    }

    /* .priorityTable div{
        display: inline;
    } */
}