.mainBody{
    background-color: #d0e0f5;
    width: 100%;
    min-height: 100vh;
    padding: 2rem ;
    /* border: 2px solid black; */
    border-radius: 20px 20px 0 0;
    display: flex;
}

    
@media (max-width:650px) {
    .mainBody {
        display: inline-block;
    }
}